body {
    font-family: Arial, sans-serif;
}

#dynamic-greeting {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}
.carousel-inner img {
    height: 500px;
    object-fit: cover;
    border: 5px solid #000000; /* لون الإطار */
    border-radius: 10px; /* لجعل الزوايا مستديرة */
    padding: 0px; /* مسافة بين الصورة والإطار */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ظل لإبراز الصورة */
}
body {
    margin: 0;
    padding: 0;
    position: relative; /* لتحديد طبقات العناصر */
    font-family: Arial, sans-serif;
}

/* الخلفية المغبشة */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZJwbzT9sbPCN6eYs7ynL1pngfkii-Qlkr3Q&s');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px); /* مقدار التمويه */
    z-index: -1; /* جعل الصورة في الخلفية */
}

/* لضبط النصوص والطبقات فوق الخلفية */
section, footer, nav {
    position: relative;
    z-index: 1;
    color: white;
}

h1, h2, p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* تحسين وضوح النصوص */
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmADgMSZYeFx4o5qejvxbNeU_UXXJcIdPEAL39qg9DFnjtJTQXPwl_QMncI-cP1dAIVPE&usqp=CAU');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px); /* مقدار التمويه */
    z-index: -1; /* جعل الصورة في الخلفية */
}
.d-flex a {
    font-size: 1.5rem; /* حجم الأيقونات */
    color: white; /* لون الأيقونات */
    transition: color 0.3s; /* تأثير عند التمرير */
}

.d-flex a:hover {
    color: #ffc107; /* لون جديد عند التمرير */
}
.menu-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

